//@import "_variables.scss";
@import "_variables.scss";

.cover {
    //z-index: 20;
    //top: -64px;
    position: relative;
    //height: 100vh;
    //min-height: 400px;
    min-height: 100vh;
    background-color: rgb(30, 41, 59);
    opacity: 1;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 0px solid red;
    color: #fff;
    padding-top: 5%;
    flex-direction: column;
    //background-blend-mode: darken;

    .stripes {
        height: 24px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: "url(/images/stripes.svg)"
    }

    .img {
        background-blend-mode: lighten;
        opacity: 0.4;
        object-fit: cover;
        //background-blend-mode: multiply;
        //background-color: rgb(30, 41, 59);
        //background-blend-mode: darken;
        //object-fit: cover;
    }

    .arrowDown {
        padding: 20px; 
        display: block; 
        margin: auto; 
        text-align: center; 
        background-image: url(/images/arrow-down);
    }

    .heading {
        z-index: 10 !important;
        max-width: 85rem;
    }

    .layoutConstrained {
    //.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
        //max-width: var(--wp--style--global--content-size);
        max-width: $layout-content-size;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .layoutDefault {
    //.is-layout-constrained > .alignwide {
        max-width: $layout-wide-size;
        border: 0px solid red;
    }
}