@import "_variables.scss";

@import '../../styles/variables';
@import '../../styles/mixins';

.btnDef { 
  cursor: pointer;   
  width: max-content;
  text-decoration: none;
  //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  @include button($accent, $accent-2);
}

.btn-default { 
  @extend .btnDef;
}

.btn-slightly-round { 
  @extend .btnDef;
  @include border-radius(5px);
}

.btn-slightly-round-shadow { 
  @extend .btnDef;
  @include border-radius(5px);
  @include border-shadow();
}

.btn-round { 
  @extend .btnDef;
  @include border-radius(30px);
}

.btn-round-shadow { 
  @extend .btnDef;
  @include border-radius(30px);
  @include border-shadow();
}
  
.btn-warning {
  @extend .btnDef;
  color: $warning-red;
  border: 1px solid $warning-red;

  &:hover,
  &:focus {
    background-color: $warning-red;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.btn-primary {
  @extend .btnDef;
  color: $accent-4;
  border: 1px solid $accent-4;

  &:hover,
  &:focus {
    color: #ffffff;
    border-color: #ffffff;
    background-color: $accent-4;
  }
}

.btn-bsm {
  @extend .btnDef;
  //color: $accent-4;
  //border: 1px solid $accent-4;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  //padding: .8rem 1.4rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color .25s ease-out, color .25s ease-out;
  font-family: "Frutiger Pro", Verdana, Arial, Helvetica, sans-serif;
  //font-size: .9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  padding: 16px 24px;
  font-size: 19px;
  background: #e20613;

  &:hover,
  &:focus {
    color: #ffffff;
    //border-color: #ffffff;
    //background-color: $accent-4;
    background: #880d27;
  }
}