@import "_variables.scss";
@import '_mixins.scss';

.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #00203d;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 30px;

    /*.layoutContent {
        display: flex; justify-content: space-between; align-items: center;
    }*/

    .liMenu {
        position: relative; text-wrap: nowrap;
        z-index: 999;
    }
    .liMenu:not(:last-child) {
        margin-right: 15px;
    }
    .icon { 
        border: 1px solid red;
        background-color: blue;
        width: 40px;
        height: 40px;
    }
    .logo {
        //padding-top: 1rem/* 16px */;
        //padding-bottom: 1rem/* 16px */;
        display: flex;
        color: #e42624 ;
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
    
    .menuIcon { 
        display: none !important;
        border: 0px solid red; 
        align-items: center;
        margin-left: 10px;
    }
    @media print, screen and (max-width: 1000px) {
        .menuIcon { display: inline-block !important; }
    }
    @media print, screen and (min-width: 1000px) {
        .menuIcon { display: none !important; }
    }

    /*.menuLinks {
        display: flex; flex: 1 1 0%; justify-content: right;
    } */ 
    .liMenu:not(:last-child) { margin-right: 20px; /*padding: 8px 0;*/ }
    .menuLinks a {
        font-size: 17px; display: block; white-space: nowrap; line-height: 1; transition: .3s ease-in-out; border: 0px solid red; color:#ffffff;
    }
    @media print, screen and (max-width: 1000px) {
        .menuLinks { display: none !important; }
    }
    @media print, screen and (min-width: 1000px) {
        .menuLinks { display: block; }
    }
   
    .menuLinks .group .is-dropdown-submenu-parent:after{
        content: "";
        margin: 0 0.5em;
        display: inline-block;
        border: 7px solid transparent;
        border-top: 8px solid #ffffff;
        border-bottom: 0 none;
    }
    .menuLinks .group .is-dropdown-submenu-parent {
        border: 0px solid #ffffff;
    }

    .hidden {
        display: none;
    }
    .hover:hover {
        opacity: 1;
        background-color: transparent; /* #f2f2f2; */
        color: #77cbea; /*#e42624;*/
        cursor: pointer;
        position: relative;
        z-index: 20;
        text-decoration: underline;
        // @include animated-underline-type (#fff, $underline-thickness, $animated-underline-transition-sec);
    }
    .group:hover .group-hover\:block {
        display: block;
    }
    .btn {
        padding: 20px !important;
        font-size: inherit !important;
        //@include border-radius(5px);
      }
    .subMenuItems {
        display: none;        
        border: 0px solid yellow;
        text-align: right;
        color: #299dd8;
        background-color:  #00203d; /*rgb(234, 236, 241);*/
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 0; /*-0.75rem;20px;-12px */
        padding: 20px;
        border-top: 2.5px solid #299dd8;

        a { 
            padding: 8px 0;
        }
    }

    .cover {
        border: 5px solid rgb(72, 255, 0);

        .image {
            object-fit: cover;
        }
    }
}