@import "_variables.scss";
@import '_mixins.scss';

.hideSticky {
    top: -160px;
    opacity: 0;
}
.showSticky {
    top: 0 !important;
    opacity: 1 !important;
    transform: translateY(0);
    transition: all .3s ease-out;
}

.wrap {
    //background-color: rgb(30, 41, 59);
    background-color: #fff;
    //padding-left: 1.25rem/* 20px */;
    //padding-right: 1.25rem;
    height: 4rem/* 64px */;
    position: fixed;
    width: 100%;
    top: -160px;
    opacity: 0;
    z-index: 20;
    color: #012346 !important;
    display: flex;
    border-bottom: 1px solid #001426;

    .icon { 
        border: 1px solid red;
        background-color: blue;
        width: 40px;
        height: 40px;
    }
    .logo {
        //padding-top: 1rem/* 16px */;
        //padding-bottom: 1rem/* 16px */;
        display: flex;
        color: #e42624 ;
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }

    .menuIcon { 
        display: none !important;
        border: 0px solid red; 
        align-items: center;
        margin-left: 10px;
    }
    @media print, screen and (max-width: 1000px) {
        .menuIcon { display: inline-block !important; }
    }
    @media print, screen and (min-width: 1000px) {
        .menuIcon { display: none !important; }
    }

    .menuLinks a {
        font-size: 17px; padding: 8px 0; display: block; white-space: nowrap; line-height: 1; transition: .3s ease-in-out; border: 0px solid red;
    }
    @media print, screen and (max-width: 1000px) {
        .menuLinks { display: none !important; }
    }
    @media print, screen and (min-width: 1000px) {
        .menuLinks { display: block; }
    }

    .menuLinks .group .is-dropdown-submenu-parent:after{
        content: "";
        margin: 0 0.5em;
        display: inline-block;
        border: 7px solid transparent;
        //border-top: 8px solid #ffffff;
        border-top: 8px solid grey;
        border-bottom: 0 none;
    }
    .menuLinks .group .is-dropdown-submenu-parent {
        border: 0px solid #ffffff;
    }

    .hidden {
        display: none;
    }

    .hover:hover {
        opacity: 1;
        //background-color: #f2f2f2;
        color: #77cbea;
        cursor: pointer;
        position: relative;
        z-index: 20;
        //@include animated-underline-type ($accent, $underline-thickness, $animated-underline-transition-sec);
    }

    .group:hover .group-hover\:block {
        display: block;
    }
    .btn {
        padding: 20px !important;
        font-size: inherit !important;
        //@include border-radius(5px);
      }
    .subMenuItems {
        display: none;       
        border: 0px solid yellow;
        text-align: right;
        //background-color: rgb(30, 41, 59);
        color: #299dd8 !important;
        background-color:  #00203d !important;
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: -0.75rem/* -12px */;
        padding: 20px;
        border-top: 2.5px solid #299dd8;

        a { 
            padding: 8px 0;
        }
    }

    .cover {
        border: 0px solid red;
        /*position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;*/

        .image {
            object-fit: cover;
        }
    }
}