.navigation {
    background-color: aqua;

    /*.menuIcon { 
        display: none !important;
        border: 3px solid red; 
        //display: inline-flex;
        align-items: center;
        //visibility: hidden;
    }

    @media print, screen and (max-width: 1000px) {
        .menuIcon { display: inline-block !important; }
    }
    @media print, screen and (min-width: 1000px) {
        .menuIcon { display: none !important; }
    }*/

}